# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
report
*.local
# .env
package-lock

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


yarn.lock
coverage/*
!.vscode
todo.md
/.vs

explain.json
audit.json
lint.md

# Local Netlify folder
.netlify
