@import './base.css';

:root {
  --header-height: 80px;
  --progress-height: 8px;
}

#app {
  min-height: 100%;
  width: 100%;
  margin: 0 auto;
  font-weight: normal;

  display: grid;
  grid-template-rows: var(--header-height) var(--progress-height) 1fr;
}